
<h1> SMS On Rails </h1>

<%= image_tag "sms_on_rails/railsYoDawg.jpg", :class => 'smsOnRailsImage' %>
<br />
<%= link_to 'Send SMS', new_sms_path %>
<br/>
<%= link_to 'Administer SMS', sms_admin_path %>
