<h1>SMS On Rails Admin</h1>

<%= link_to "Sms Drafts and Outbound Messages", sms_drafts_path %><br/>
<%= link_to "Phone Numbers", sms_phone_numbers_path %><br/>
<%= link_to "Phone Carriers", sms_phone_carriers_path %><br/>
